body{
    background-color: #ecf8ff ;
}
img {
    width: 100%;
}
main {
    width: 900px;;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
}

.ingredient-list {
float: left;
}

.how-to {
float: right;
width: 600px;
}

footer {
clear: both;
text-align: right;
}

h1 {
    color: rgb(0, 100, 100);
}

h2, ul {
    color: rgb(65, 119, 119);
}

h3, p {
    color: rgb(124, 148, 148);
}